.wrapper {

   height: 100%;
  padding: 6.25rem 1.25rem 1.25rem 14rem;
  /* overflow-y: scroll; */
}



.card { 
  /* width: 100%; */
  width: auto;
  height: inherit;
  /* height: calc(100% - 6.25rem + 1.25rem); */
  box-shadow: 0 5px 27px rgba(0, 0, 0, 0.27);

}
.wrapper-shriked {
  height: 100%;
  /* overflow-y: scroll; */
  padding: 6.25rem 1.25rem 1.25rem 5rem;
}

@media (max-width: 768px) and (max-height:815px){
  .wrapper {
    /* max-height: fit-content; */
    padding: 6.25rem 1rem 1rem 1rem;
  }
  .wrapper-shriked {
    /* max-height: fit-content; */
    padding: 6.25rem 1rem 1rem 1rem;
  }
  .card{
    height: unset;
    /* overflow-y: scroll; */
  }
}

 
