.wrapper {


  padding: 6.25rem 1.25rem 1.25rem 14rem;
}

.card {
 
  /* width: 100%; */
  width: auto;
  
  /* height: calc(100% - 6.25rem + 1.25rem); */
  box-shadow: 0 5px 27px rgba(0, 0, 0, 0.27);
}
.wrapper-shriked {

  padding: 6.25rem 1.25rem 1.25rem 5rem;
}

@media (max-width: 768px) {
  .wrapper {
    max-height: fit-content;
    padding: 6.25rem 1rem 1rem 1rem;
  }
}
