<div class="">
  <div class="inner-page-heading d-lg-flex justify-content-between">
    <span class="inner-page-heading-title"> USER MANAGEMENT </span>

    <!-- <form class="form">
        <div class="from-control">
          <input type="text" class="form-control" placeholder="Search" />
        </div>
      </form>
      <app-common-selectmenu [optionData]="selectMenuRoles"  class="col-lg-6">  </app-common-selectmenu>
    </div> -->
    <!-- <div class="col-lg-4 d-flex  gap-1">
      <button class=" btn btn-secondary">Search</button
      ><button class=" btn btn-secondary">Clear</button
      ><button class=" btn btn-primary">Add User</button>
    </div> -->

    <ul class="d-lg-flex justify-content-end align-items-center">
      <form class="form d-flex " [formGroup]="userHeaderSearchForm">
      <li class="m-2">
          <div class="from-control">
            <input
              type="text"
              class="form-control"
              formControlName="searchString"
              placeholder="Search"
            />
          </div>
        </li>
        <li class="m-2">
          <app-common-selectmenu
            #roleSelectionMenu
            [optionData]="selectMenuRoles"
            defaultOption="All Roles"
             formControlName="selectedRole"
          >
          </app-common-selectmenu>
        </li>
      </form>
     
      <li class="d-lg-flex flex-row align-item-center">
        <button class="btn btn-secondary mx-1" (click)="searchHandler()">
          Search
        </button>
        <button class="btn btn-secondary mx-1" (click)="resetForm()">
          Clear
        </button>
        <a
          class="btn btn-primary ms-1"
          [routerLink]="['/settings/user-management/add']"
          >Add User</a
        >
      </li>
    
    </ul>
  </div>
  <div class="d-flex justify-content-start">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" >Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Login History</a>
      </li>
     
    </ul>

  </div>
  <app-common-grid
  [data]="userData"
  [gridSettings]="gridSetting"
  [paginationSettings]="paginationSettings"
  (onSortEvent)="sortHandler($event)"
  >
</app-common-grid>


  <div>
  </div>
</div>
