<div class="grid-wrapper">
  <div class="table-responsive">
    <table class="table">
      <thead class="">
        <tr class="grid-header">
          <th
            *ngFor="let key of girdSettings.columns"
            class="text-uppercase"
            (click)="sort(key.name, key.sort)"
          >
            {{ key.title }}
            <span *ngIf="key.sort">
              <i
                name="sort-up"
                class="fa fa-sort-asc"
                aria-hidden="true"
                *ngIf="sortDown(key.name)"
              ></i
              ><i
                name="sort-down"
                class="fa fa-sort-desc"
                aria-hidden="true"
                *ngIf="sortUp(key.name)"
              ></i
              ><i
                name="sort"
                class="fa fa-sort"
                aria-hidden="true"
                *ngIf="sortDefault(key.name)"
              ></i>
            </span>
          </th>
        </tr>
        <tr *ngIf="!displayData.isNotEmpty()">
          <th class="text-center">
            <span class="text-muted">No Records Found</span>
          </th>
        </tr>
      </thead>
      <tbody class="grid-body" *ngIf="displayData.isNotEmpty()">
        <ng-container *ngFor="let item of displayData">
          <tr class="grid-row">
            <td *ngFor="let key of girdSettings.columns">
              <ng-container [ngSwitch]="key.type">
                <ng-container *ngSwitchCase="'STATUS'">
                  <ng-container
                    [ngTemplateOutlet]="statusTemplate"
                    [ngTemplateOutletContext]="{ record: item, column: key }"
                  >
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'LOGINSTATUS'">
                  <ng-container
                    [ngTemplateOutlet]="loginStatusTemplate"
                    [ngTemplateOutletContext]="{ record: item, column: key }"
                  >
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <span>
                    {{ item[key.name] }}
                  </span>
                </ng-container>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="grid-footer" *ngIf="isShowPagination()">
    <ul class="pagination">
      <li
        class="page-item"
        [ngClass]="paginationSetting.currentPage <= 1 ? 'disabled' : ''"
      >
        <button class="page-link" (click)="goToPreviousPage()"><</button>
      </li>
      <li class="page-item" *ngFor="let page of pageNumbers">
        <button
          class="page-link"
          [ngClass]="paginationSetting.currentPage === page ? 'active' : ''"
          (click)="goToPage(page)"
        >
          {{ page }}
        </button>
      </li>
      <li class="page-item" [ngClass]="isLastPage() ? 'disabled' : ''">
        <button class="page-link" (click)="goToNextPage()">></button>
      </li>
    </ul>

    <app-common-selectmenu
     [optionData]="[]" 
     defaultOption="25 per day"
     >
    </app-common-selectmenu>
  </div>
</div>

<!-- <div class="grid-footer fixed-bottom" *ngIf="girdSettings.showPagination">
  <nav aria-label="Page navigation ">
    <ul class="pagination">
      <li
        class="page-item"
        [ngClass]="paginationSetting.currentPage >= 1 ? 'desabled' : ''"
      >
        <button class="page-link" class="page-item btn"><</button>
      </li>

      <li class="page-item"><button class="page-link">1</button></li>
      <li class="page-item"><button class="page-link">2</button></li>
      <li class="page-item"><button class="page-link">3</button></li>

      <li
        class="page-item"
        [ngClass]="
          isLastPage() ? 'disabled' : ''
        "
      >
        <button class="page-link">></button>
      </li>
    </ul>
  </nav>
</div> -->

<ng-template #statusTemplate let-record="record" let-column="column">
  <span *ngIf="record[column.name] == 1" class="status-active">Active</span>
  <span *ngIf="record[column.name] == 0" class="status-inactive">Inactive</span>
</ng-template>

<ng-template #loginStatusTemplate let-record="record" let-column="column">
  <span *ngIf="record[column.name] == 1" class="status-active">Active</span>
  <span *ngIf="record[column.name] == 0" class="status-inactive">Inactive</span>
</ng-template>
