<!-- <select
  class="dropdownselection"
  #selectMenu
  [value]="selectedValue"
  (change)="valueChangeHadler(selectMenu.value)"
>
  <div class="dropdown-list">
    <option selected>{{ defaultOption }}</option>
    <ng-container *ngFor="let item of optionData">
      <option value="{{ item.value }}">{{ item.option }}</option>
    </ng-container>
  </div>
</select> -->


<button class="dropdownselection" (click)="menuToggler()">
<span>{{selectedValue}}</span>
<img class="dropdownImage" [ngClass]="isMenuOpen?'dropdownImageTransform':''" width="15rem" src="../../../assets/Images/icon-dropdown-arrow.svg"> 
</button>

<div class="dropdown-list" [ngClass]="isMenuOpen ? 'd-block':'d-none'" >
   <ul *ngFor="let item of optionData" class="p-0">
   <li (click)="valueChangeHadler(item.value)">{{item.value}}</li>

   </ul>
   
</div>